.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /*height: 80px;*/
  height: 50px;
  width: 50px;
}
#draghere{
  width:300px;
  height:100px;
  background-color:rgba(221,214,155,0.4);
  border:1px dashed black;
  text-align:center;
}

.App-header {
  background-color: #222;
  height: 8.6vh;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .1em;
}
/*.App-header h1{

display: inline;
}*/
.App-header #headerLeft, #headerRight{
  display:inline-block;
  width: 50vw;
}
#headerLeft{
  height: 100%;
}

#headerRight{
  text-align:right;
}
.App-title {
  font-size: 1.5em;
}
.root{
  height:100vh;
  width: 100vw;
  transition: all 5.5s ease-out;
  /*padding-top: 25px;*/
}
.root > div {
  height: 100%;
}
.inline-block{
  position:absolute;
  width:300px;
  height:50px;
  top: 25px;
  left:10%;
}
.top-text{
  color: lightBlue;
  font-size: 1.5em;
}

#artist-text, #gallery-text, #exhibition-text {
    width: 80px;
    position: absolute;
    bottom: 20px;
}
#artist-text {
    left: 10%;
}
#gallery-text {
    left: 22.5%;
}
#exhibition-text {
    left: 43.5%;
}
#gallery-descriptor {
    margin-top: 1.5%;
    width: 300px;
    position: relative;
    /* margin-left: 23%; */
    text-align: center;
    display: inline-block;
}
#gallery-goback {
    margin-top: 1.5%;
    position: relative;
    width: 100px;
    margin-left:3%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
#gallery-goback:hover{
  color: green;
}
.artist-dropdown, .gallery-dropdown, .exhibition-dropdown{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .07em;
    padding: .7em 1em;
    border: solid 1px #000;
    transition: all 1s;
    background: white;
    box-shadow: none;
}
.artist-dropdown{
  left : 10%;
}
.gallery-dropdown{
  left : 22%;
}
.exhibition-dropdown{
  left : 43%;
}
.enter-button{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .07em;
    padding: .7em 1em;
    border: solid 1px #000;
    transition: all 1s;
    background: white;
    box-shadow: none;
    left: 65%;
    cursor: pointer;
}
.enter-button:hover{
    background : lightBlue;
}
.menu-panel{
  padding-top: 10px;
  width: 100vw;
  height: 61.4vh;
  position: relative;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: -1s;
  opacity:0;
  background: -webkit-linear-gradient(white, lightBlue);
  background: -o-linear-gradient(white, lightBlue);
  background: linear-gradient(white, lightBlue);
  border-top: 1px solid black;
}
.welcome-panel{
  width: 100vw;
  height: 30vh;
  position: relative;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: /*3*/s;
  animation-fill-mode: forwards;
  animation-delay: -1s;
  opacity:0;
  background: -webkit-linear-gradient(lightBlue, white);
  background: -o-linear-gradient(lightBlue, white);
  background: linear-gradient(lightBlue, white);
}

.gallery-container{
  height: 100%;
  width: 100%;
  padding-top: 20px;
}
.gallery-top{
  width: 1000px;
  background: none;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1%;
}
.flexcon2{
  width: 80vw;
  margin: 0 auto;
  display: flex;
}
.gallery-main{ 
  height: 80vh;
  width: 1000px;
  border: 1px solid black;
  background: white;
  flex: 2 2 20em;
  /* margin: 0 auto; */
}
.gallery-menu{ 
  /* position: fixed; */
  height: 80vh;
  width: 1%;
  /* border: 1px solid black; */
  background: white;
  flex: 0.25 1 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.gallery-menu div{
  margin: 20px;
}
.gallery-menu div:hover{
  color:green;
  cursor: pointer;
}
.gallery-entrance{
  height: 20px;
  width: 100px;
  /*border: 1px solid black;*/
  background: white;
  margin: 0 auto;
  font-size: 0.7em;
  top: 5px;
  left: 4.5%;
  /* position: relative; */
}


.flexcontainer {
   display: flex;
   align-items: center;
   justify-content: start;
   transition: all 0.4s;
}
.flexrow{
  /* height: 50%; */
  flex-flow: row wrap;
}
.flexcol{
  flex-flow: column wrap;
}
/*.flexrow>*,.flexcol>*{
  flex: 1 1 80px;
}*/
.room.hall{
  background-color: lightgrey;
  border:1px solid black;
  width: 10px;
  height: 100%;
  transition: all 0.4s;
  /*flex: 1 1 auto;*/
  /*flex-shrink: 1;*/
}
.room.small{
  /* background-color: #5bee5b; */
  background-color: #71d171;
  border:1px solid black;
  width: 100px;
  height: 100%;
  /*flex: 1 1 auto;*/
  transition: all 0.4s;
  flex-grow: 20;
  align-items: initial;
  /* position: relative; */
  display:flex;
  flex-direction: column;
}
.room.big{
  background-color: #add8e6;
  height: 100%;
  width: 200px;
  border:1px solid black;
  /*flex: 1 1 auto;*/
  transition: all 0.4s;
  align-items: initial;
  /* position: relative; */
  display:flex;
  flex-direction: column;
}
.big.unselected:hover{
  background-color: #4f7583;
}
.small.unselected:hover{
  background-color: #458345;
}
.north-wall, .south-wall, .main-room, .picture{
  display:none;
  transition: all 0.4s;
}
.room.big.selected .north-wall, .room.small.selected .north-wall{
  display: block;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  color:BLACK;
  line-height: 5em;
  flex: 1 1;
  /* position: absolute; */
}
.room.big.selected .main-room, .room.small.selected .main-room{
  display: inline-block;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  color:BLACK;
  line-height: 5em;
  flex: 6 1;
  /* position: absolute; */
}
.room.big.selected .south-wall, .room.small.selected .south-wall{
  display: block;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  color:BLACK;
  bottom: 0;
  line-height: 5em;
  flex: 1 1;
  /* position: absolute; */
}

.room.big.selected .south-wall, .room.big.selected .north-wall{
  background-color: #3c90df
}
.room.big.selected .south-wall:hover, .room.big.selected .north-wall:hover{
  background-color: #55a1e7
}
.room.small.selected .south-wall, .room.small.selected .north-wall{
  background-color: #1aac1a;
}
.room.small.selected .south-wall:hover, .room.small.selected .north-wall:hover{
  background-color: #5bee5b;
}


.selected>.picture{
  display: block;
  height: 200px;
  width: 350px;
  background-color: white;
  border: 1px solid black;
}

/* room.small.selected .north-wall{
   display: flex;
  height: 10%;
  background-color: lightGrey;
  flex: 1 1 80px;
  align-items: center;
  justify-content: center;
  color:BLACK;
} */

/* .room.big.selected .north-wall:hover, .room.small.selected .north-wall:hover{
  background-color: grey;
}
.room.big.selected .south-wall:hover, .room.small.selected .south-wall:hover{
  background-color: grey;
} */



@media (max-width: 1340px) {
 .enter-button,.artist-dropdown,.gallery-dropdown,.exhibition-dropdown{
  font-size : 0.8em;
 }
}
@media (max-width: 1280px) {
 .enter-button,.artist-dropdown,.gallery-dropdown,.exhibition-dropdown{
  font-size : 0.7em;
 }
}
@media (max-width: 1073px) {
 .enter-button,.artist-dropdown,.gallery-dropdown,.exhibition-dropdown{
  font-size : 0.6em;
 }
}


@keyframes fadeIn {
    0%   {opacity: 0;}
    100% { opacity:1;}
}

@keyframes slideInDown {
    0%   {top:-100px;}
    50% {top: -50px; opacity: 0.0;}
    75% {opacity: 0.5;}
    100% {
      top:0px;
      opacity:1;
    }
}

@keyframes slideInUp {
    0%   {bottom:-100px;}
    50% {bottom: -50px; opacity: 0.0;}
    75% {opacity: 0.5;}
    100% {
      bottom:0px;
      opacity:1;
    }
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}